# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3
media
staticfiles

# Environments
.env
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py
